@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	position: relative;
	flex: 1;
	display: block;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

:root {
	--red-color: #c31a2f;
	--green-color: #1eb514;
	--green-dark-color: #1a8f11;

	--border-radius: 10px;

	--transition-duration: 0.3s;
	--transition-duration-slow: 1s;

	--transition-linear: all var(--transition-duration) ease-in-out;
	--transition-slow: all var(--transition-duration-slow) ease-in-out;
}

/*Navbar*/

.Navbar {
	background-color: var(--red-color);
}

#nav_container > * {
	transition: var(--transition-linear);
}

#nav_container_toggler {
	background-image: url('/images/logo_mela_rossa.png');
	background-size: cover;

	transition: var(--transition-linear);
}

#nav_container.closed > div {
	max-height: 0;
	margin: 0;
	overflow: hidden;
}

/*navbar links hover effect*/
.Navbar .nav-link {
	padding: 0.1rem 0;

	background-image: linear-gradient(white, white);
	background-size: 0% 1px;
	background-repeat: no-repeat;
	background-position: left bottom;

	transition: var(--transition-linear);
}

.Navbar .nav-link:hover {
	background-size: 100% 1px;
}

.Navbar .nav-link.active {
	font-weight: 500;
	background-size: 100% 2px;
}

/*Home*/

#hero_img {
	aspect-ratio: 512/425;
}

@media screen and (min-width: 768px){
	.Home{
		/* 100vh - header - footer */
		height: calc(100vh - 5rem - 5rem);
	}
}

/*Footer*/

.Footer {
	background-color: var(--red-color);
}

/*Login*/

.Login {
	padding: 0 2vw;
}

#login_form {
	position: relative;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	background-color: white;
}

#login_form::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.2);
	rotate: 4deg;
	border-radius: var(--border-radius);
	z-index: -1;
}

#login_form > * {
	display: block;
}

/*Info*/

.swiper{
	padding: 10vh 0 !important;
}

.swiper-slide{
	transition: var(--transition-linear) !important;
}

.swiper-slide-active{
	z-index: 10;
	scale: 1.2;
}

.user-card .bg-image{
	z-index: -1;
}

.user-card-img{
	width: 30%;
}

.user-card > div{
	text-align: center;
	font-weight: 1000;
}

/*Sidenavbar*/

#sidenav_main{
	transition: var(--transition-linear);
}

.Sidenavbar{
	background-color: var(--red-color);
	transition: var(--transition-linear);
}

.sidenav-toggle{
	transition: var(--transition-linear);
}

.rotate{
	rotate: 360deg;
}

.sidenav-item{
	color: white;
	font-size:large;
	text-align: center;
	padding: 1rem;
}

/*navbar links hover effect*/
.Sidenavbar .nav-link {
	padding: 0.1rem 0;

	background-image: linear-gradient(white, white);
	background-size: 0% 1px;
	background-repeat: no-repeat;
	background-position: left bottom;

	transition: var(--transition-linear);
}

.Sidenavbar .nav-link:hover {
	background-size: 100% 1px;
}

.Sidenavbar .nav-link.active {
	font-weight: 500;
	background-size: 100% 2px;
}

/*Management user*/

.user{
	border-radius: 20px;
	box-shadow: 0 0 10px var(--red-color);
	-webkit-box-shadow: 0 0 10px var(--red-color);
}

@media screen and (max-width: 1024px) {
	.swiper, .swiper-wrapper{
		overflow: visible !important;
	}
}

@media screen and (min-width: 1024px) {
	#nav_container > div{
		max-height: 1000px !important;
	}
}

/*General styles*/

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--green-dark-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--green-color);
}

.btn {
	background-color: var(--green-color);
	color: white;
	font-weight: bold;
	font-style: normal;

	padding: 0.5rem 1rem;

	border-radius: var(--border-radius);

	transition: var(--transition-linear);

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:hover,
.btn:focus {
	background-color: var(--green-dark-color);
}

.btn.disabled{
	cursor: not-allowed;
	opacity: .5;
}

.btn.disabled:hover,
.btn.disabled:focus {
	background-color: var(--green-color);
}

input {
	outline: 1px solid black;
	border-radius: var(--border-radius);
	padding: 0.3rem;
}

input:focus {
	outline: 1px solid var(--green-color);
}

.text-red {
	color: var(--red-color);
}

.hidden{
	display: none;
}