@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.Layout > *:not(.Navbar):not(.Footer){
	min-height: calc(100vh - 5rem - 5rem);
}

* {
	box-sizing: border-box;
}

:root {
	--border-radius: 10px;

	--transition-duration: 0.3s;
	--transition-duration-slow: 1s;

	--transition-linear: all var(--transition-duration) ease-in-out;
	--transition-slow: all var(--transition-duration-slow) ease-in-out;
}

/*Navbar*/

#nav_container > * {
	transition: var(--transition-linear);
}

#nav_container_toggler {
	background-image: url('/images/logo_mela_rossa.png');
	background-size: cover;

	transition: var(--transition-linear);
}

#nav_container.closed > div {
	max-height: 0;
	margin: 0;
	overflow: hidden;
}

/*navbar links hover effect*/
.Navbar .nav-link {
	padding: 0.1rem 0;

	background-image: linear-gradient(white, white);
	background-size: 0% 1px;
	background-repeat: no-repeat;
	background-position: left bottom;

	transition: var(--transition-linear);
}

.Navbar .nav-link:hover {
	background-size: 100% 1px;
}

.Navbar .nav-link.active {
	font-weight: 500;
	background-size: 100% 2px;
}

/*Home*/

#hero_img {
	aspect-ratio: 512/425;
}

@media screen and (min-width: 768px){
	.Home{
		/* 100vh - header - footer */
		height: calc(100vh - 5rem - 5rem);
	}
}

/*Footer*/

/*Login*/

.Login {
	padding: 0 2vw;
}

#login_form {
	position: relative;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	background-color: white;
}

#login_form::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.2);
	rotate: 4deg;
	border-radius: var(--border-radius);
	z-index: -1;
}

#login_form > * {
	display: block;
}

@media screen and (min-width: 768px){
	.Login{
		/* 100vh - header - footer */
		height: calc(100vh - 5rem - 5rem);
	}
}

/*Info*/

.swiper{
	padding: 10vh 0 !important;
}

.swiper-slide{
	transition: var(--transition-linear) !important;
}

.swiper-slide-active{
	z-index: 10;
	scale: 1.2;
}

.user-card .bg-image{
	z-index: -1;
}

.user-card-img{
	width: 30%;
}

.user-card > div{
	text-align: center;
	font-weight: 1000;
}

/*Sidenavbar*/

#sidenav_main{
	transition: var(--transition-linear);
}

.Sidenavbar{
	transition: var(--transition-linear);
}

.sidenav-toggle{
	transition: var(--transition-linear);
}

.rotate{
	rotate: 360deg;
}

.sidenav-item{
	display: flex;
	align-items: center;
	gap: 1rem;
	color: white;
	font-size:large;
	text-align: center;
	padding: 1rem 0;
	transition: all .3s linear;
}
.Sidenavbar[data-status=close] .sidenav-item{
	justify-content: center;
}

.wave {
	width: 1000px;
	height: 1025px;
	position: absolute;
	top: -160%;
	left: 50%;
	margin-left: -500px;
	margin-top: -470px;
	border-radius: 70%;
	background: rgba(255, 255, 255, .75);
	animation: wave 15s infinite linear;
}

@keyframes wave {
	from { transform: rotate(0deg);}
	from { transform: rotate(360deg);}
}


/*navbar links hover effect*/
.Sidenavbar .nav-link {
	padding: 0.1rem 0;

	background-image: linear-gradient(white, white);
	background-size: 0% 1px;
	background-repeat: no-repeat;
	background-position: left bottom;

	transition: var(--transition-linear);
}

.Sidenavbar .nav-link:hover {
	background-size: 100% 1px;
}

.Sidenavbar .nav-link.active {
	font-weight: 500;
	background-size: 100% 2px;
}

/*Management user*/

@media screen and (max-width: 1024px) {
	.swiper, .swiper-wrapper{
		overflow: visible !important;
	}
}

@media screen and (min-width: 1024px) {
	#nav_container > div{
		max-height: 1000px !important;
	}
}

/* Management users */

.Users .user-info.open{
	transform: translateX(0%);
}

/*General styles*/

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

.btn {
	font-weight: bold;
	font-style: normal;

	padding: 0.5rem 1rem;

	border-radius: var(--border-radius);

	transition: var(--transition-linear);

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-primary {
	background-color: theme(colors.green);
	color: white;
}

.btn-secondary {
	background-color: transparent;
	color: theme(colors.green);
	border: 1px solid theme(colors.green);
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: theme(colors.dark_green);
}

.btn-secondary:hover,
.btn-secondary:focus {
	background-color: theme(colors.green);
	color: white;
}

.btn.disabled{
	cursor: not-allowed;
	opacity: .5;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus {
	background-color: theme(colors.green);
	color: white;
}

.btn-secondary.disabled:hover,
.btn-secondary.disabled:focus {
	background-color: transparent;
	color: theme(colors.green);
	border: 1px solid theme(colors.green);
}

input {
	outline: 1px solid black;
	border-radius: var(--border-radius);
	padding: 0.3rem;
}

input:focus {
	outline: 1px solid theme(colors.green);
}